.avatar {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
